<%= form_tag login_path %>

    <fieldset >
    <legend>Log In</legend>

    <div >
      <div >
        <%= label_tag :email, "Email"%>
      </div>
      <div ><%= text_field_tag :email %></div>
    </div>

    <div >
      <div >
        <%= label_tag :password, "Password" %>
      </div>
      <div ><%= password_field_tag :password %></div>
    </div>

    <%= submit_tag "Login" %><br><br>
    <%= link_to "New User", new_user_path %>

  </fieldset>