<%= form_tag login_path %>

    <fieldset class=" small-8 columns">
    <legend>Log In</legend>

    <div class="row collapse">
      <div class="small-3 columns">
        <%= label_tag :email, "Email", class: "right inline" %>
      </div>
      <div class="small-9 columns"><%= text_field_tag :email %></div>
    </div>

    <div class="row collapse">
      <div class="small-3 columns">
        <%= label_tag :password, "Password", class: "right inline" %>
      </div>
      <div class="small-9 columns"><%= password_field_tag :password %></div>
    </div>

    <%= submit_tag "Login" %>

  </fieldset>