<h1><%= @user.name %> presentations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presentations.each do |presentation| %>
  <tr>
    <td><%= presentation.title %></td>
    <td><%= presentation.description %></td>
    <td><%= link_to 'Show', user_presentation_path(@user, presentation)%> | </td>
    <td><%= link_to 'Edit', edit_user_presentation_path(@user, presentation) %> | </td>
    <td><%= link_to 'Destroy', user_presentation_path(@user, presentation) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New presentation', new_user_presentation_path(@user) %>
