<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @presentation.title %>
</p>

<p>
  <b>Creator:</b>
  <%= @presentation.user.name %>
</p>

<p>
  <b>Technologies:</b>
  <ul>
  <% @presentation.technologies.each do |technology| %>
    <li><%= technology.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <b>Description:</b>
  <%= @presentation.description %>
</p>


<%= link_to 'Edit', edit_user_presentation_path(@presentation.user, @presentation) %> |
<%= link_to 'Back', user_presentations_path %>
