<div class="container span8">
<%= form_for([@feature, @snippet], html: {class: "form-horizontal"}) do |f| %>
  <%= render partial: "shared/error_messages", :locals => {:target => @snippet} %>

  <fieldset>
    <legend>Copy/paste your code, then explain how it relates to your feature.</legend>
    <div class="gg-form-section">
      <%= render partial: "snippets/new_form_partials/name", :locals => {:f => f, :feature => @feature} %>
      <%= render partial: "snippets/new_form_partials/url", :locals => {:f => f, :feature => @feature} %>
      <%= render partial: "snippets/new_form_partials/language", :locals => {:f => f, :feature => @feature} %>
    </div>
    <div class="gg-form-section">
      <%= render partial: "snippets/new_form_partials/code", :locals => {:f => f, :feature => @feature} %>
      <%= render partial: "snippets/new_form_partials/description", :locals => {:f => f, :feature => @feature} %>
    </div>
  </fieldset>

  <div class="gg-button-container">
    <div class="buttons-with-margins">
      <div class="gg-multiple-buttons">
        <%= f.submit "I'm Done With This Feature", :class => "btn btn-primary btn-primary-green" %>
      </div>
      <div class="next-slide gg-multiple-buttons">
        <%= f.submit "Next Slide", :class => "btn btn-primary btn-primary-white" %>
        <input name="next_state" type="hidden" value="false" />
      </div>
    </div>
  </div>
<% end %>
</div>

