<div class="<%= index %> no-display">
  <h4><%=  project.name.downcase %></h4>

  <p><%=  show_project_description(project) %></p>

  <%= show_project_technologies(project)  %>

  <%= show_project_contributers(project) %>

</div>