<h1>Gallery Members</h1>

<% @users.each do |user| %>

  <ul class="vcard">
    <li class="fn"><%= link_to "#{user.name.capitalize}", user %><em>   (<%= link_to 'Edit', edit_user_path(user) %>)</em></li>
    <li class="email"><%= mail_to user.email %></li>
    <%= link_to ' ', user, method: :delete, data: { confirm: "Are you sure you want to delete #{user.name}?" } %></li>
  </ul>

<% end %>


<br />

<%= link_to 'New User', new_user_path %> | 
<%= link_to 'Project List', projects_path %>


</ul>