<<<<<<< HEAD
 <h1><%= @user.name %>'s Portfolio</h1>
<div>
  <ul>
    <% @user.projects.uniq.each do |project| %>
    <li>
      <h4><%= project.name %></h4>
      <table>
        <thead>
          <th width="200">Title</th>
          <th width="750" colspan="3">Description</th>
        </thead>
          <% project.this_user_features(@user).each do |feature| %>
          <tr>
            <td><%= link_to "#{feature.title}", feature %></td>
            <td width="600"><%= feature.description %></td>
            <td><%= link_to 'Edit', edit_feature_path(feature), class: "tiny button" %></td>
            <td><%= link_to 'Destroy', feature , method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button" %></td>
          </tr>
          <% end %>
      </table>
    </li>
    <% end %>
  </ul>
</div>
=======
<div class="container">
  <div class="row-fluid">
    <h3 class="section-header">Projects: <%= @user.name.titleize %></h3>

    <ul class="thumbnails">
      <% @user.projects.each do |project| %>
      <li class="span3"> 
        <%= link_to_hidden_description(project) %>
      </li>
      <% end %>
    </ul>
>>>>>>> icons

  </div>
</div>
