<div class="span12 feature-section">

  <div class="creator">
    <h3 id="features-title" class="section-header">Features</h3>
    <%= link_to 'New', new_project_feature_path(@project) %>
  </div>

  <div id="features-slide">
    <% @project.features.each do |feat| %>
      <div class="feature">
        <h2 class="feature-card-title" data-name="<%= feat.title.downcase.gsub(" ", "_") %>">
          <%= feat.title %>
        </h2>
      </div>
    <% end %>
  </div>

  <div class="container-fluid carousel_container">
    <div class="row-fluid">
      <div class="span12">
        <div class="span8">
          <div class="carousel slide over-something" id="homepage-carousel">
            <div class="carousel-inner slider-w carousel-contents">
              <% @project.features.each do |feature| %>
                <div id="<%= feature.title.downcase.gsub(" ", "_") %>" class="item">
                  <div class="span12 feature_carousel">
                    
                    <% if feature.slides_in_order != [] %>
                      <% feature.slides_in_order.each do |slide| %>
                        <%= render :partial => "slide", :locals => {:slide_type => slide } %>
                      <% end %>
                    <% else %>
                      <h4 class="slider-header"><%= feature.title %> HAS NO SLIDES</h4>
                    <% end %>

                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
