<h3 id="features-title">Features</h3>
  <%= link_to 'New', new_project_feature_path(@project) %>
  
  <br>

<% @project.features.each do |feature| %>
  <div class="project-feature">
    <div class="project-feature-title">
      <h4><%= link_to feature.title, feature_path(feature) %></h4>
    </div>
    <div class="project-feature-user-name" title="<%= feature.user.name %>">
      <%= link_to (image_tag avatar_url(feature.user)), user_path(feature.user) %>
    </div>
    <div class="clearfix"></div>
    <div class="project-feature-description">
      <%= feature.description %>
    </div>
    <br>
    <br>
  </div>
  <div class="clearfix"></div>
<% end %>