<h1>Listing Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Contributors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.source %></td>
    <td>
      <% project.users.uniq.each do |user|%>
        <%= link_to "#{user.name}", user_path(user.name) %> 
      <% end %>
    </td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: "Are you sure you want to delete #{project.name}?" } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add A New project', new_project_path %>
