<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Source:</b>
  <%= @project.source %>
</p>
  
<p>
  <b>Images:</b>
  <% @project.uploads.each do |upload| %>
    <%= image_tag upload.image_url.to_s if upload.image? %>
  <% end %>
</p>


<p>
  <b>Features:</b><br>
  <% @project.features.each do |feature| %>
    <i>Title</i>: <%= link_to feature.title, user_feature_path(feature.user.id, feature.id) %><br>
    <i>User</i>: <%= link_to feature.user.name, user_path(feature.user) %><br><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> | 
<%= link_to 'User List', users_path %> |
<%= link_to "Upload an Image", [:new, @project, :upload] %>
