
<div class="container">
<%= form_for([@project, @feature], html: {class: "form-horizontal"}) do |f| %>
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Start a New Slideshow Feature for <%= @project.name %></legend>
    <div class="control-group">
    <%= render partial: "features/new_form_partials/title", :locals => {:f => f, :feature => @feature} %>
    </div>
    <div class="control-group">
    <%= render partial: "features/new_form_partials/description", :locals => {:f => f, :feature => @feature} %>
    </div>
    <div class="control-group">
    <%= render partial: "features/new_form_partials/technologies", :locals => {:f => f, :feature => @feature} %>
    </div>
  </fieldset>
  <div>
    <%= f.submit %>
  </div>
<% end %>
</div>