<%= form_for [@uploadable, @upload] do |f|%>
  <% if @upload.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <p>
  <b>Add An Image:</b>
  <%= f.file_field :image %>
  </p>
  <b>Description:</b>
  <%= f.text_field :description %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>