<%= form_for([@project, @feature]) do |f| %>
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class>
      <div class>
        <%= f.label :title %>
      </div>
        <div><%= f.text_field :title %></div>
    </div>

    <div>
      <div>
        <%= f.label :description %>
      </div>
        <div ><%= f.text_field :description %></div>
    </div>

    <div >
      <div >
        <%= label_tag 'feature[technologies_to_add][]', 'Technologies' %>
      </div>
      <div >
        <% for technology in @technologies %>
          <%= check_box_tag 'feature[technology_ids][]',technology.id, @feature.technologies.include?(technology) %>
          <%= technology.name %>
        <% end %>
      </div>
      <div>
    <%= f.submit %>
  </div>
    </div>
  
<% end %>

  </fieldset>
