<h1>Editing: <%= @feature.title %></h1>

<div><%= render 'edit_form' %></div>

<div><%= link_to 'Back', @feature %></div>




<ul id="sortable2" class="sortable grid">
			
<% @feature.uploads.each do |upload| %>
     <li draggable="true" class="" style="display: list-item;"><p><%= upload.description%></p>
      <%= image_tag upload.image_url.to_s, width: '100' if upload.image?%>
      </li>
    <% end %>
</ul>


