
<div class="slides-custom">

<div>
<ul class="pager">    
  <li class="next">
      <%= link_to "Delete This Feature", @feature, :method => :delete, :confirm => "Are you sure you want to delete this feature?" %>
  </li>
</ul>
</div>

<h1 id="project-title">
<div>
    <div class="hero-inline">
        <%= best_in_place @feature, :title, :type => :input, :activator => ".activator-#{@feature.id}-name" %>
    </div>
    <div class="activator-<%= @feature.id %>-name">
      <i class="hero icon-pencil"></i>
      </div>
</div>
</h1>

<div class="description-custom">
  <div class="hero-inline">
  <p id="project-description">
      <%= best_in_place @feature, :description, :type => :input, :activator => ".activator-#{@feature.id}-description" %>
  </p>
  </div>
</div>

  <div class="activator-<%= @feature.id %>-description"><i class="hero icon-pencil"></i></div>

<div class="clearfix"></div>
<% if @feature.slides_in_order.any? %>
  <h3 class="form-header">Check Out Your Slides</h3>


  <div class="tabbable tabs-left">
        <ul class="nav nav-tabs sortable" data-feature-id="<%= @feature.id %>">
         <% @feature.slides_in_order.each_with_index do |slide, index| %>

        	<% myclass = index == 0 ? 'active' : ''%>
          <li data-id="<%= slide.id %>" data-class-type="<%= slide.class %>" class="<%=myclass %>"><a href="#l<%=index%>" data-toggle="tab"><%= slide.name %></a></li>
       
           <% end %>
            </ul>
        <div class="tab-content">
        <% @feature.slides_in_order.each_with_index do |slide, index| %>
        <% myclass = index == 0 ? 'active' : ''%>
          <div class="tab-pane <%=myclass %>" id="l<%= index %>">
           <p draggable="true" class="" style="">
                <input type="hidden" name="slides[][class]" value="<%= slide.class %>"></input>
                <input type="hidden" name="slides[][id]" value="<%= slide.id %>"></input>
                <p><%= slide.name %></p>
                <p><%= slide.description%></p>
                <img height="100px"><%= snippet_or_upload_show(slide) %></img>
                <p><%= link_to " Delete This Slide", slide, :method => :delete %></p>
              </p>
          </div>

          <% end %>
        </div>
  
  </div>
  <% else %>
  <h3 class="form-header">No Slides Yet. Add Some!</h3>

       <%= link_to "Add a Slide", new_feature_slide_path(@feature) %>

<% end%>




<h3 class="form-header">Pick Your Technologies</h3>
  <div class="controls">

    <select data-placeholder="Choose Technologies..." name="feature[technology_ids][]" class="chosen-select" multiple style="width:350px;" tabindex="4">
      <option value=""></option>
        <% for technology in @technologies %>
          <option value=<%= technology.id%>><%= technology.name %></option>
        <% end %>
    </select>
  </div>
  <div class="pager-custom">
<ul class="pager">
    <li class="next"><%= link_to 'Go to Feature Page →', @feature %></li>
</ul>
</div>
</div>






