<h1><%= @user.name %>'s Portfolio</h1>



<% @user.projects.uniq.each do |project| %>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% project.features.each do |feature| %>
    <tr>
      <td><%= feature.title %></td>
      <td><%= feature.description %></td>
      <td><%= link_to 'Show', feature %> | </td>
      <td><%= link_to 'Edit', edit_feature_path(feature) %> | </td>
      <td><%= link_to 'Destroy', feature , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<% end %>

<br />
