<div class="white-card">

  <h1>New Feature</h1>
  <%= form_for([@project, @feature], :validate => true, html: {class: "form-horizontal"}) do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:target => @feature} %>

  <fieldset>
    <legend>Start a New Slideshow Feature for <%= @project.name %></legend>

      <%= f.label :title, mark_required(@feature, :title), class: "control-label" %>
      <%= f.text_field :title, placeholder: "Give your feature a title..." %>

      <%= f.label :description, mark_required(@feature, :description), class: "control-label" %>
      <%= f.text_area :description, :rows => "5", placeholder: "What did your feature accomplish…" %>

      <div class="control-group">
        <%= render partial: "features/new_form_partials/technologies", :locals => {:f => f, :feature => @feature} %>
      </div>
      <div class="caption clearfix">
        <caption>* required field</caption>
      </div>
      <div class="controls">
        <ul class="horizontal">
          <li>
          <%= f.submit "SUBMIT", :class => "confirm-info" %>
          </li>
          <li>
          <%= link_to "BACK TO #{@project.name.upcase}", @project, :class => "back-to-project" %>
          </li>
        </ul>
      </div>

  </fieldset>
  <% end %>

</div>


