<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feature.title %>
</p>

<p>
  <b>Creator:</b>
  <%= @feature.user.name %>
</p>

<p>
  <b>Technologies:</b>
  <ul>
    <% @feature.technologies.each do |technology| %>
      <li><%= link_to technology.name, user_technology_path(@user.id, technology.id) %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Description:</b>
  <%= @feature.description %>
</p>

<%= link_to 'Edit', edit_user_feature_path(@feature.user, @feature) %> |
<%= link_to 'Back', user_features_path %>
