<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feature.title %>
</p>

<p>
  <b>Creator:</b>
  <%= @feature.user.name %>
</p>

<p>
  <b>Description:</b>
  <%= @feature.description %>
</p>

<p>
  <b>Technologies:</b>
  <ul>
    <% @feature.technologies.each do |technology| %>
      <li><%= link_to technology.name, user_technology_path(@user.id, technology.id) %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Image(s):</b>
    <% @feature.uploads.each do |upload| %>
      <%= image_tag upload.image_url.to_s, width: '100' if upload.image? %>
    <% end %>
</p>


<%= link_to 'Edit', edit_user_feature_path(@feature.user, @feature) %> |
<%= link_to "Back to #{@feature.user.name}", user_features_path %> | 
<%= link_to "Upload an Image", [:new, @user, @feature, :upload] %>
