<header id="header">
<div class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<%= link_to "Git Gallery", projects_path, :class => "brand" %>
<div class="nav-collapse subnav-collapse pull-right collapse" id="top-navigation">

<ul class="nav">


		<li class="">
		<%= link_to "Homepage", current_user %>
	
		</li>
			<li>
						

			<li class="dropdown">
			<a href="/theme_venera/basic_elements" class="dropdown-toggle" data-toggle="dropdown">Placeholder</a>
			<ul class="dropdown-menu">
			<li>
			<a href="/theme_venera/pricing_table">Pricing Table</a>
			</li>
			<li>
			<a href="/theme_venera/basic_elements">Basic Elements</a>
			</li>
			<li>
			<a href="/theme_venera/awesome_icons">Awesome Icons</a>
			</li>
			<li class="divider"></li>
			<li class="nav-header">Pages Examples</li>
			<li>
			<a href="/theme_venera/about_us_page">About Us Page</a>
			</li>
			<li>
			<a href="/theme_venera/gallery_small">Gallery of Images</a>
			</li>
			<li>
			<a href="/theme_venera/page_not_found">Page not found</a>
			</li>
			<li>
			<a href="/theme_venera/coming_soon">Coming Soon Page</a>
			</li>
			</ul>
			</li>
			<li class="">
 			<%= form_tag(users_path, :method => "get") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
            <% end %>

        
			</li>

</ul>


<div class="top-account-control visible-desktop">
	<% if !logged_in? %>
           <%= link_to "Create Account", new_user_path, class: 'top-create-account'%>
    <% end %>

    	<% if logged_in? %>
           <%= link_to "My Account", nil, class: 'top-create-account'%>
				     	
    <% end %>
				<!-- SIGN IN -->
				    	<% if !logged_in? %>

						<a href="#" class="top-sign-in">Sign In</a>
						<div class="login-box">
						<a class="close login-box-close" href="#">×</a>
						<h4 class="login-box-head">Login</h4>
							<%= form_tag login_path %>
							<div class="control-group">
						<%= label_tag :email, "Email"%>
						<div ><%= text_field_tag :email, nil, class:'span2' %></div>
						</div>

						<div class="control-group">
						 <%= label_tag :password, "Password" %>
						<div ><%= password_field_tag :password, nil, class:'span2' %></div>
						</div>

						<div class="login-actions">

				     	<%= submit_tag "Login" , class: 'btn btn-primary'%><br><br>
				     	<% end%> 

		<!-- LOG OUT -->
     	<% if logged_in? %>
     	<%= link_to "Sign out", logout_path, :class=> 'top-sign-in'%>
     	<% end %>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
